/* Main Container */
/* ----- */
.ob_gMCont
{
    position: relative;
}

* html .ob_gMCont
{
    #overflow: hidden;
}

.ob_gMCont_DT
{
    overflow: hidden;
}

/* Left Side (Border) - used when grouping is enabled */
.ob_gBLSWG
{
    position: absolute;
    top: 46px;
    bottom: 16px;
    left: -5px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 10px;
    font-size: 1px;
    background-image: url(WebResource.axd?d=qS4zM4yVp3BSaycnx4XahpQrKu1LG1qUm9mg8RvwRoKYg_QM9pFtGT7IicaO-L3fhm9wXfVHRRdGP5vc1qIlYP4ut_iIXnUYgpvXBokdKjrYahyCbPU5roWxeC2QNaR0iZ0elA2&t=634909316920000000);
    background-repeat: repeat-y;
    z-index: 31;
}

.ob_gBLSWG_EL_H, .ob_gBLSWG_EL_TF
{
    top: 81px;
}

.ob_gBLSWG_EL_HTF
{
    top: 116px;
}

/* Left Side (Border) - used when grouping is disabled */
.ob_gBLS
{
    position: absolute;
    top: 17px;
    bottom: 16px;
    left: -5px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 10px;
    font-size: 1px;
    background-image: url(WebResource.axd?d=qS4zM4yVp3BSaycnx4XahpQrKu1LG1qUm9mg8RvwRoKYg_QM9pFtGT7IicaO-L3fhm9wXfVHRRdGP5vc1qIlYP4ut_iIXnUYgpvXBokdKjrYahyCbPU5roWxeC2QNaR0iZ0elA2&t=634909316920000000);
    background-repeat: repeat-y;
    z-index: 31;
}

.ob_gBLSW_EL_H, .ob_gBLSW_EL_TF
{
    top: 46px;
}

.ob_gBLSW_EL_HTF
{
    top: 81px;
}

* html .ob_gBLSWG, * html .ob_gBLS
{
    -background-image: url(WebResource.axd?d=3oLJF-E9THy976JlUgxSyi6s8NDa47wJ_tE_bVApbfDDLVO8Ek2zuHPVaTWrX0S6Z7s-sYIzE0G97Rr1VBMMvckRAjtGj4EzOBVujKQhTcxlMUYBr3xPwziyu_KkS9-wrGwjRA2&t=634909316920000000);
}

/* Right Side (Border) - used when grouping is enabled */
.ob_gBRSWG
{
    position: absolute;
    top: 46px;
    bottom: 16px;
    right: -5px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 10px;
    font-size: 1px;
    background-image: url(WebResource.axd?d=ycqxkHr-r7cCR7ZHf1YVYoSymHGl31AUWsb1_qqIhzqyhkK7aSylJy-fjwrt-Ih6x7MhMZhv0kS8BwMd66cV9CFg5rLwqYbZDhMOobGI2FSdDp5BL44FQ1FXYUEWc0l0iEdJXg2&t=634909316920000000);
    background-repeat: repeat-y;    
    z-index: 31;
}

.ob_gBRSWG_EL_H, .ob_gBRSWG_EL_TF
{
    top: 81px;
}

.ob_gBRSWG_EL_HTF
{
    top: 116px;
}

/* Right Side (Border) - used when grouping is disabled */
.ob_gBRS
{
    position: absolute;
    top: 17px;
    bottom: 16px;
    right: -5px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 10px;
    font-size: 1px;
    background-image: url(WebResource.axd?d=ycqxkHr-r7cCR7ZHf1YVYoSymHGl31AUWsb1_qqIhzqyhkK7aSylJy-fjwrt-Ih6x7MhMZhv0kS8BwMd66cV9CFg5rLwqYbZDhMOobGI2FSdDp5BL44FQ1FXYUEWc0l0iEdJXg2&t=634909316920000000);
    background-repeat: repeat-y;
    z-index: 31;
}

.ob_gBRSW_EL_H, .ob_gBRSW_EL_TF
{
    top: 46px;
}

.ob_gBRSW_EL_HTF
{
    top: 81px;
}

* html .ob_gBRSWG, * html .ob_gBRS
{
    -background-image: url(WebResource.axd?d=b_mycLM-ybX0yRgds-NHin9lYDt9RlXRKe5NUBM4-0Y0ftCm-GHxmUytKO0GVjat48gZpAgqutHjZAeymT6_7SBI3pqrxm5BTxE_EKrmrOHUQD8CFaFQYtc_RbmKfm-VzE_oJQ2&t=634909316920000000);
}





/* Common */
/* ------ */

.ob_gC
{
    white-space: nowrap;
    cursor: default;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

.ob_gC_I
{
    display: none;
    white-space: nowrap;
    cursor: default;
    padding: 0px;
    margin: 0px;
}

.ob_gCW
{
    white-space: normal;
    cursor: default;
    vertical-align: middle;
}

.ob_gCW_I
{
    display: none;
    white-space: normal;
    cursor: default;
}

.ob_gC div.ob_gCc2
{
    white-space: nowrap;
}

.ob_gCW div.ob_gCc2
{
    white-space: normal;
}

.ob_gC div.ob_gCc2, .ob_gCW div.ob_gCc2, .ob_gC div.ob_gCc2C, .ob_gCW div.ob_gCc2C, .ob_gC div.ob_gCc2R, .ob_gCW div.ob_gCc2R
{
    padding: 0px;
    /*padding-top: 2px;*/
    padding-left: 20px;
    margin-right: 3px;
    position: static;
    width: auto;
    overflow: hidden;
}

.ob_gC div.ob_gCc2C, .ob_gCW div.ob_gCc2C
{
    text-align: center;
}

.ob_gC div.ob_gCc2R, .ob_gCW div.ob_gCc2R
{
    text-align: right;
}

.ob_gH div.ob_gCc2, .ob_gH div.ob_gCc2C, .ob_gH div.ob_gCc2R
{
    margin-right: 16px;
}

.ob_gC_Fc div.ob_gCc2, .ob_gC_Fc div.ob_gCc2C, .ob_gC_Fc div.ob_gCc2R
{
    padding-left: 20px;
}

.ob_gC_Lc div.ob_gCc2, .ob_gC_Lc div.ob_gCc2C, .ob_gC_Lc div.ob_gCc2R
{
    margin-right: 12px;
}

.ob_gH .ob_gC_Lc div.ob_gCc2, .ob_gH .ob_gC_Lc div.ob_gCc2C, .ob_gH .ob_gC_Lc div.ob_gCc2R
{
    margin-right: 26px;
}


.ob_gCd
{
    display: none;
}

.ob_gD
{
    display: none;
}

/* Resize lines */
.ob_gRL
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 1px;
    background-color: #B9C9D7;
    font-size: 1px;
    z-index: 999;
}

/* Resize tooltip */
.ob_gRT
{
	cursor: default;		
	margin: 0px;
	padding: 1px;
	border: 1px solid #000000;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;	
	height: 12px;
	margin-top: -10px;		
	top: 0px;
	vertical-align: middle;
	background-color: #F5F5DC;
	position: absolute;
	z-index: 999;
}
.ob_gRT span
{
	padding-left: 3px;
}





/* Header */
/* ------ */

/* Container for the header - used when grouping is disabled */
.ob_gHContWG
{
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gHContWG
{
    width: 100%;
    #margin-left: 0px;
    #margin-right:0px;
}

/* Container for the header - used when grouping is enabled */
.ob_gHCont
{
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gHCont
{
    width: 100%;
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gHICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gHICont, .ob_gMCont_DT .ob_gHICont
{
    width: 100%;
}

.ob_gMCont_DT .ob_gHICont
{
    height: 25px;
}

.ob_gH
{
    border-collapse: collapse;
    table-layout: fixed;
}

.ob_gHR
{
}

.ob_gHContWG .ob_gH .ob_gC, .ob_gHContWG .ob_gH .ob_gCW
{
    background-image: url(WebResource.axd?d=1bfnILSUZRujgN6fXSAdTccLrjuM0MpJgxQbQSapEAMXSnPDALQKDXZ33qbIAvtW1lHINHm9OmT3kF14iMwIXJOAmhfVILewYvy_eMejlGITH8jn9hxlG8sdl0qzdqxak6b-EIu2EXyZc3yxNHG_GwUwUiI1&t=634909316920000000);
    background-repeat: repeat-x;
    background-color: #A8AEBD;
    height: 25px;
    font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #01354d;
	text-align: left;
	cursor: pointer;
}


.ob_gHCont .ob_gH .ob_gC, .ob_gHCont .ob_gH .ob_gCW
{
    background-image: url(WebResource.axd?d=lyVQJ5-IeUgfNndq_YH0tbQVdI_uB3sOYWaF6c0p7yb5TseS1qAPSSOgvul_J_GfFMNLf-miCiLaRgqX9AcbXHZVCHLCdjPxEQbP5vMEgLENlhM--VLKzyReP-Dy8GzPdCQa-g2&t=634909316920000000);
    background-repeat: repeat-x;
    background-color: #9497A8;
    height: 25px;
    font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #01354d;
	text-align: left;
	cursor: pointer;
}

.ob_gHContWG .ob_gH .ob_gC div.ob_gCc1, .ob_gHContWG .ob_gH .ob_gCW div.ob_gCc1
{
    padding-bottom: 6px;
}

.ob_gHContWG .ob_gH .ob_gC div.ob_gCc1_F, .ob_gHContWG .ob_gH .ob_gCW div.ob_gCc1_F
{
    _margin-top: 3px;
}

.ob_gHCont .ob_gH .ob_gC div.ob_gCc1, .ob_gHCont .ob_gH .ob_gCW div.ob_gCc1
{
    padding-bottom: 6px;
}

.ob_gH .ob_gC div.ob_gCc1, .ob_gH .ob_gCW div.ob_gCc1
{
    position: relative;
}

.ob_gH .ob_gC div.ob_gCc1_F, .ob_gH .ob_gCW div.ob_gCc1_F
{
    _margin-top: 3px;
}

.ob_gMCont_DT .ob_gH div.ob_gCc1
{
    margin-top: -6px;
}

.ob_gHContWG .ob_gH .ob_gC div.ob_gHSI, .ob_gHContWG .ob_gH .ob_gCW div.ob_gHSI
{
}

.ob_gHCont .ob_gH .ob_gC div.ob_gHSI, .ob_gHCont .ob_gH .ob_gCW div.ob_gHSI
{
    
}

.ob_gH .ob_gC div.ob_gHSI, .ob_gH .ob_gCW div.ob_gHSI
{
    position: absolute;
    height: 15px;
    right: 2px;
    top: 50%;    
    margin: 0px;
    margin-top: -11px;
    margin-top /*\**/: -10px\9;
    #margin-top: -11px;
    -margin-top: -14px;    
}

.ob_gH .ob_gC div.ob_gHSI_F_D, .ob_gH .ob_gCW div.ob_gHSI_F_D
{
    margin-top: -10px;
}

.ob_gH .ob_gC_Lc div.ob_gHSI
{
    right: 12px;
}

.ob_gH .ob_gC div.ob_gHSI_F, .ob_gH .ob_gCW div.ob_gHSI_F
{
    position: absolute;
    height: 15px;
    right: 2px;
    top: 50%;    
    margin: 0px;
    margin-bottom: auto;
    #margin-top: -14px;
    -margin-top: -13px;
}

/* Cells separator */
.ob_gHCont .ob_gCS, .ob_gHContWG .ob_gCS, .ob_gHCont .ob_gCS_F, .ob_gHContWG .ob_gCS_F
{
    position: absolute;
    top: 0px;    
    font-size: 1px;
    cursor: e-resize;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: -1px;
    background-color: Transparent !important;
}

.ob_gHCont .ob_gCS, .ob_gHContWG .ob_gCS
{
    bottom: 0px;
}

.ob_gHCont .ob_gCS div, .ob_gHCont .ob_gCS_F div
{
    background-color: #EEEEEE;
}

.ob_gHContWG .ob_gCS div, .ob_gHContWG .ob_gCS_F div
{
    background-color: #EEEEEE;
}

.ob_gHCont .ob_gCS div, .ob_gHContWG .ob_gCS div, .ob_gHCont .ob_gCS_F div, .ob_gHContWG .ob_gCS_F div
{
    width: 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
}





/* Body */
/* ------ */
.ob_gBCont
{
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gBCont
{
    width: 100%;
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gBICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gBICont, .ob_gMCont_DT .ob_gBICont
{
    width: 100%;
}

.ob_gBody
{
    border-collapse: collapse;
    table-layout: fixed;
}

/* Row - Normal state */
.ob_gR
{
	background-image: url(WebResource.axd?d=-wYMMpx-qG72AhPEciWmT5_zi5A7Eqji2s1RP967qZBVbZ2ZYc9VbuDdICwlmBdab-R0l82GzONseQhb-GIYS6gkm16KdObk4uBV-pZxx16ACs5Zvyye6WFmLxIpJ2Ju0ek2AA2&t=634909316920000000);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#E5E5E5;	
	color: #2b4c61;
}

/* Row - Alternate state */
.ob_gRA
{
	background-image: url(WebResource.axd?d=hOzZnCHYKpEpLWXDxOBadZ3Vyjn2P1F1RQ0rfYWdgUvYV1bd6j2k-uC837OtG-GIzGxtkokAkvECSiIu8MXAd3qk-A8TQoTYeA2D4OiMTEWlVVBUY2fTxk6eq0gusTDEINritg2&t=634909316920000000);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#ffffff;
	color: #2b4c61;
}


/* Row - Selected state */
.ob_gRS
{
	background-image: url(WebResource.axd?d=8qi2B_sQMXiwpifAr293wRSNU5nf_ZUXPHlkDWGdg1w912R_FLraG2rwSCa6vffYORsALmnz37VDpMnUQVRTaFAdB6pXTKTQL5rWqO5BPXNCSI1GZrnZM02nIl7M-_GzTY0dc8B946a1n8Rw0&t=634909316920000000);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#E7F9FE;
	color: #063e61;
}

/* Row - Hover state */
.ob_gRH
{
	background-image: url(WebResource.axd?d=OVaqp8ltNbQPzlWGuZe1FXRExRgtZ4ocnRar9jQWRhFaNxO0SzL8xYFYMfGC1u8s7tc8naY8jnAZgUAtbuciPAke_ndOkVNlHcQnEd7p4DWljRw388Nk05bCa65VWp84owc8aw2&t=634909316920000000);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#D8F5FE;
	color: #063e61;
}

.ob_gBody .ob_gC, .ob_gBody .ob_gCW
{
    height: 25px;
    font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

.ob_gBody .ob_gC div.ob_gCc1, .ob_gBody .ob_gCW div.ob_gCc1
{    
    #overflow: visible;
    #overflow-x: hidden;
    /*position: relative;*/
    padding-top: 2px;
    padding-bottom: 2px;
}

.ob_gRGF .ob_gC, .ob_gRGF .ob_gCW
{
    color: #704803;
}

.ob_gBCont .ob_gCS, .ob_gBCont .ob_gCS_F
{
    position: absolute;
    top: 0px;
    width: 1px;
    background-color: #EEEEEE;
    font-size: 1px;
    z-index: 10;
}

.ob_gBCont .ob_gCS
{
    bottom: 0px;
}

/* Container for the loading message displayed during a callback */
div.ob_gBLM, div.ob_gBLM_F
{
    position: absolute;
	background-color: #F6F7F7;
	left: 0px;
	right: 0px;
	top: 0px;
	text-align: center;
	z-index: 30;
	width: 100%;

}
div.ob_gBLM
{
    bottom: 0px;
}
div.ob_gBLM div, div.ob_gBLM_F div
{    
    position: absolute;
    font-family: Verdana;
	font-size: 10px;
	color:#0C416F;
	height: 10px;
	top: 50%;	
	margin-top: -5px;	
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

/* Action links */
a.ob_gAL
{
	font-family: Verdana;
	font-size: 10px;
	color: #065a8e;
	font-weight: normal;
	text-decoration:none;
}

/* Action links - hover state */
a.ob_gAL:hover
{
	font-family: Verdana;
	font-size: 10px;
	color: #065a8e;
	font-weight: normal;				
	text-decoration:underline;		
}

/* Cell - temporary added (multi-record adding) */
.ob_gCTA
{
    color: #2a8b03;
}

/* Cell - temporary edited (multi-record editing) */
.ob_gCTE
{
    color: #b81336;
}

/* Cell - temporary deleted (multi-record deleting) */
.ob_gCTD
{
    color: #777d81;			
	text-decoration: line-through;
}

/* Group header - container */
.ob_gRGH
{
	background-image: url(WebResource.axd?d=aa6QmvK9Go-Kx6PRr4Ra3V-27IQf322asY72vO6YDuEXG-_KkNMux8CAMbUpQl-p1sT_GqytzqsGZtrinOd95EksT2jILKP1rIG-VTx3Hduh4XFAvzrFwdfFpgXWyhMbner5AqGet73W8huT0&t=634909316920000000);
	height: 25px;
}

/* Group header - inner container */
.ob_gRGHI
{
    position: relative;
    height: 25px;
    z-index: 15;
    background-image: url(WebResource.axd?d=aa6QmvK9Go-Kx6PRr4Ra3V-27IQf322asY72vO6YDuEXG-_KkNMux8CAMbUpQl-p1sT_GqytzqsGZtrinOd95EksT2jILKP1rIG-VTx3Hduh4XFAvzrFwdfFpgXWyhMbner5AqGet73W8huT0&t=634909316920000000);
    /*padding-left: 5px;
    padding-right: 5px;*/
}

/* Group header - content*/
.ob_gRGHC
{
	cursor: default;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;	
	height: 25px;	
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
	border: 0px;
	float: left;
	line-height: 25px;
}

/* Group header - Expand/Collapse button */
.ob_gRGHB 
{	
	padding: 0px;
	padding-left: 0px;
	padding-right: 3px;	
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	height: 25px;
	font-size: 1px;
	float: left;
}	
.ob_gRGHB img
{
	height: 25px;
	cursor: pointer;
	margin: 0px;
	font-size: 1px;
}

/* Group header - Left side spacer */
.ob_gRGBS
{
	width: 23px;
	height: 25px;
	font-size: 1px;
	text-align: right;
	background-image: url(WebResource.axd?d=5kd2qBMDTdripxgRQaQFBxQdHuMmmYjG9ZADjLgufi2Hf_xmc7w4pppC4rq7xUQrBviLIZ3DOeQhzv8OBgeQf5q0jyP9tkPhHDmTiVJ3F78yq3tFnqRKImWMk8hvF5kD1uglqWfV0Mib6uVkldgjfzLiwrs1&t=634909316920000000);
	float: left;
}
.ob_gRGBS div
{
	background-image: url(WebResource.axd?d=lz0RYIAWWTSpEVYqw7xmu8vDssc6xhVQK51sxFawxjjO3xfoXkLDybynqFtIn-dm-FNkSR1faAVNpF0q_771rIbmbySUp7gL9hlpSYpyMnEWWCvACh11aub8iibngVoshpy4mZ1_Y5aG-0gxyDsexXVbbYYCtZtFMERWbQ2&t=634909316920000000);
	height: 25px;
	width: 11px;
	margin-left: 12px;
}

/* Group footer */
.ob_gRGF
{
	background-image: url(WebResource.axd?d=ZbO4MuKcpxy91icXZExH2uMF6G4liXAFXROuUB6IjMjJ9MBFe2dEUSpBvLqc29EqlwbpKhknGyzCtvFBhklfkkvXmUzUgqQowcmohbiFH1ihMGUP37Um3raaGq2wpavwYYnZo0HEpi7lTsZA0&t=634909316920000000);
	color: #353b4d;
	font-family: Verdana;
	font-size: 10px;
}

/* Message displayed when grid has no records */
.ob_gNRM
{
	font-family: Verdana;
	font-size: 10px;
	border: 0px;			
	background-image: url(WebResource.axd?d=-wYMMpx-qG72AhPEciWmT5_zi5A7Eqji2s1RP967qZBVbZ2ZYc9VbuDdICwlmBdab-R0l82GzONseQhb-GIYS6gkm16KdObk4uBV-pZxx16ACs5Zvyye6WFmLxIpJ2Ju0ek2AA2&t=634909316920000000);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#ececf0;
	color: #5f627b;
	height: 25px;
	border-bottom: 1px solid #C3C9CE;
}

.ob_gNRM .ob_gCc1
{
    position: relative;
    height: 25px;
    z-index: 15;
    background-image: url(WebResource.axd?d=-wYMMpx-qG72AhPEciWmT5_zi5A7Eqji2s1RP967qZBVbZ2ZYc9VbuDdICwlmBdab-R0l82GzONseQhb-GIYS6gkm16KdObk4uBV-pZxx16ACs5Zvyye6WFmLxIpJ2Ju0ek2AA2&t=634909316920000000);
    line-height: 25px;
}

/* Selection area */
.ob_gSA
{
    position: absolute;
    z-index: 999;
    background-color: #F6F7F7;
	border: 1px solid #4B555E;
	font-size: 1px;
}

/* Edit control - backward compatibility */
.ob_gEC
{
	padding: 0px;
	font-family: Verdana;
	font-size: 10px;
	color: #202426;			
	background-color: #FFFFFF;
	width: 96%;
	border: 1px solid #196585;
}

/* Row Edit Template container */
.ob_gRETpl
{
	font-family: Verdana;
	font-size: 10px;
	color: #196585;
	padding: 15px;
	border-top: 1px solid #7BB8D9;
	background-color:#e3e3e8;
	background-image:url(WebResource.axd?d=yoViwwjbtzvDg3cq7H6tBsvT-o5uwvAtRob_aKdOu8jJFH6C6LAiohMxtMl9LiOjpZCAqS6xlbRUYEXnX_7o7US2uMhsLSEMmwTUDjVIleHlo1KQyGnPYnwtP5jHxUuAnER16A2&t=634909316920000000);
	background-repeat:repeat-x;
	background-position:top;
	border-bottom:1px solid #dbdbe1;
	border-top:1px solid #dbdbe1;
	position: relative;
	z-index: 11;
}

/* Row in THead section of the body table */
.ob_gBTLRV
{
    visibility: hidden;
    *display: none;
}
.ob_gBTLRV td
{
    height: 0px !important;
    font-size: 0px !important;
    padding: 0px;
	margin: 0px;
	border: 0px;
	visibility: hidden;
}





/* Footer */
/* ------ */
.ob_gFCont /*.ob_gridFooterContainer*/
{		
	background-image: url(WebResource.axd?d=uhHGBZjGbqTOfFSgEjbfolU_OwBiQe4IqFCEynH4MooDbPK8MGTWDzQqij5jYm6yGkcGKkxm2-e1StMzH4hVRdSZH1JzxmhyGOf3HC9qDFtrInb5WFSTCyeBBHBTGrQEGDj5Ag2&t=634909316920000000);
	padding: 0px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border: 0px;
	height: 27px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	position: relative;
	cursor: default;
	font-family: Verdana;
	font-size: 10px;
	color: #080808;
	white-space: nowrap;
	z-index: 0;
	overflow: hidden;
	text-align: left;
}

* html .ob_gFCont
{
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gFCont_F_D
{		
	background-image: url(WebResource.axd?d=uhHGBZjGbqTOfFSgEjbfolU_OwBiQe4IqFCEynH4MooDbPK8MGTWDzQqij5jYm6yGkcGKkxm2-e1StMzH4hVRdSZH1JzxmhyGOf3HC9qDFtrInb5WFSTCyeBBHBTGrQEGDj5Ag2&t=634909316920000000);
	padding: 0px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border: 0px;
	height: 27px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	position: relative;
	cursor: default;
	font-family: Verdana;
	font-size: 10px;
	color: #080808;
	white-space: nowrap;
	z-index: 0;
	overflow: hidden;
}

.ob_gPSTT
{
	position: relative;
	top:9px;
	display:-moz-inline-stack;
    display:inline-block;
	height: 19px;
	z-index: 2;
	padding-top: 1px;
}

.ob_gFCont .ob_gPSTT
{
    zoom:1;
    *display:inline;
}

.ob_gPSTD
{
	width: 60px;
	position: absolute;
	right: -65px;
	top: -3px;
}

.ob_gPSTDIC
{
    width: 61px !important;
}

.ob_gFEC
{
    position: absolute;
    top: 6px;
    right: 0px;
    height: 23px;
    white-space: nowrap;
    z-index: 1;
}

.ob_gFCont_F_D .ob_gFEC
{
    width: 100%;
}

/* Container for the action links */
.ob_gFALC
{
    height: 19px;
    line-height: 19px;
    float: right;
    #float: none;
}

.ob_gFCont_F_D .ob_gFALC
{
    float: none;
}

.ob_gFAL
{
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    float: right;
}

a.ob_gALF /*a.ob_gridActionLinkFooter*/
{
	font-family: Verdana;
	font-size: 10px;
	color: #065a8e;
	font-weight: normal;
	text-decoration:none;
	padding-right: 1px;
}

a.ob_gALF:hover /*a.ob_gridActionLinkFooter:hover*/
{
	font-family: Verdana;
	font-size: 10px;
	color: #065a8e;
	font-weight: normal;				
	text-decoration: underline;
	padding-right: 1px;
}

.ob_gALFS /*.ob_gridAdd_FilterSpacer*/
{
	width: 30px;
	text-align: center;
	display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    float: right;
}

/* Container for the paging section */
.ob_gFP
{
    float: right;
    #float: none;
    margin-right: 6px;
}

.ob_gFCont_F_D .ob_gFP
{
    width: 305px;
}

/* Container for the text in the paging section */
.ob_gFPT
{
    float: right;
    padding-top: 4px;
}

/* Container for navigation/paging buttons */
.ob_gPBC
{
    float: right;
    cursor: pointer;
    margin-top: 2px;
}

/* Container for the page links */
.ob_gPLC
{        
    float: right;
    padding-top: 2px;
    height: 22px;
}

/* Page link */
.ob_gPLCL
{
    font:normal 11px Verdana;
    color:#FFFFFF;
    text-decoration: none;
    cursor: pointer;
    padding:2px 3px 1px 3px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-left: 2px;
    margin-right: 2px;
    background-image:url(WebResource.axd?d=1hnuVYGt0Nwsi1Ty31fwV9EyGl8ejPjOGqGLQ1Ekx3YGXgig7km_uXeXoeHK6LjtBEpGs4eh4Jttxou8vyho6gaG6MvylY7qDe-vLUuvB638v80RmWZPMlkf1zLUM2xr7OEnOSuPBQW57S-e0&t=634909316920000000);
    float: left;
    height: 20px;
}

/* Page link - hover */
.ob_gPLCLH
{
    font:normal 11px Verdana;
    color:#FFFFFF;
    text-decoration: none;
    cursor: pointer;
    padding:2px 3px 1px 3px;
    border-left: 1px solid #1b314e;
    border-right: 1px solid #1b314e;
    margin-left: 2px;
    margin-right: 2px;
    background-image:url(WebResource.axd?d=GDNgmc9OOfMgjZbdzx5EE31JKu-FSrTAy3V0oN_lyKOuD77wsJxQoUvqdSVS1PP59Xl3u4vfygjstxgMBBS6dv1Q1OmifW7HQz9N0UYzWFzM35esLpF9TRBmZml5WT5uZuK3XitAXFw83Wni0&t=634909316920000000);
    float: left;
    height: 20px;
}

/* Separator between page links */
.ob_gPLS
{
    font-family: Verdana;
    font-size: 11px;
    color:#44556D;
    font-weight: normal;
    text-decoration:none;
    cursor: default;
    padding-left: 2px;
    padding-right: 2px;
    float: left;
    display: none;
}

/* Page link disabled */
.ob_gPLD
{
    font:normal 11px Verdana;
    color:#000000;
    text-decoration: none;
    cursor: pointer;
    padding:2px 3px 1px 3px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-left: 2px;
    margin-right: 2px;
    background-image:url(WebResource.axd?d=WmePgmRsUByxnpgFA4MfCMFwtZU55PTMQEuEzEEirMOMKGJqR6YKtafdg8fm6zi6GRzffksKN6PwlXrCUwr1oAA6M6jm-OOTja3fVfo5BsVnWIz_MfricNuMIK7JolGRHJMEPy6TplG0gkRGTY7mmqUtIpE1&t=634909316920000000);
    float: left;
    height: 20px;
}

/* Container for the total number of pages text */
.ob_gTNOP
{
    float: right;
    padding-top: 4px;
    height: 20px;
    margin-left: 3px;
    margin-right: 0px;
}

/* Container for the manual paging section */
.ob_gMPS
{
    float: right;
    padding-top: 2px;
    height: 20px;
    margin-left: 3px;
    margin-right: 0px;
}

/* Container for the manual paging textbox */
.ob_gMPST
{
    float: left;
    margin-left: 4px;
    margin-top: -1px;
}

/* Container for the manual paging action link */
.ob_gMPSL
{
    float: left;
    margin-top: 3px;
    margin-left: 4px;
}





/* Grouping Area */
/* ------------- */

/* Grouping Area - Container */
.ob_gGACont
{
	height: 46px;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

/* Grouping Area - Container - With extra top row */
.ob_gGAContWT
{
    height: 41px;
}

/* Grouping Area - Left corner */
.ob_gGACnL
{
	width: 25px;
	height: 46px;
	background-image: url(WebResource.axd?d=i9vWZ0eELvIZT8LSRDVIDxoVAO2A8wAObwTxWR6_x6LKuBw3aX5eMkLzcZ42w2sTjBjbkHDWYiRWsRY2AykM0XBLm_dC17gFCrpfs3Y8n7YTDJXaLyhOFweEociX9MJKM9nein1_aIa2TNI80&t=634909316920000000);
	position: absolute;
	left: -5px;
	top: 0px;
}

* html .ob_gGACnL
{
    -background-image: url(WebResource.axd?d=xpYuyesaZUZiCeJSzHhZv2-2e0ydaewwI_WWgqY18Gk_5k7wZZkwXMMPi-OdGlvt_0f4XCFra-hKz18QGWrSWE8NdpoVVY8Ls9st2uOyUN2timlj8E3SzLA0_XTj0JqTr1LMoYn486OAc6ns0&t=634909316920000000);
}

.ob_gGAContWT .ob_gGACnL
{
    background-image: url(WebResource.axd?d=sBVWPzBkZyyC5lBRX6RPP-cgb7OkwEIT333AglN6z15FNqjx0Ve3ziVe0g53C-d2_JVjWARuZvFZP-EecgVFqRPwfml7BmHSuDf3Q144SyYKfrm9HqrfO47OyCEPGFNvUWbN86WJQ151FKKFP5DFEym3EOI1&t=634909316920000000);
    background-position: 0px -4px;
    background-repeat: no-repeat;
}

* html .ob_gGAContWT .ob_gGACnL
{
    -background-image: url(WebResource.axd?d=qFNXBAs-KwS_q_lOwJwUe8o2_HLPH2MOsjgituj5UUAF4369M7y-TKjAzkyF89vDSSmAuvfaS15nZBuz5rOKtRPeZvqoWZvY7tQi-XBaJbUwElgxazbW3HTmHNMhAN6Cupv2jKIrWhpll6v7_TbNraNJ2pc1&t=634909316920000000);
}

/* main section for grouping area */
.ob_gGA
{
	border:0px solid #FFFFFF;
	background-image: url(WebResource.axd?d=PIS6o42hPbdawL1FIeufqckXdLTQiNdppswyloS8CfSMy7FSNLKhmjZqD-6-gy88Ob2r470OYWHroQ9x4DBGlTiu73jXym5jC2yCLKsX_p8VQetxQDnTLB4_CgAOCMnyd7gL0rtR7tNq9Ryy0&t=634909316920000000);
	height: 46px;
	position: absolute;
	top: 0px;
	line-height: 41px;	
	left: 20px;
	right: 20px;
	margin: 0px;
	padding: 0px;
	padding-top: 0px;
}

* html .ob_gGA
{
    width: 100%;
    -background-image: url(WebResource.axd?d=WKSAoAoq4DKCpyT1hNXkzmFETIGzfW8QFPGawTr3MrEUnKC-tSZ81LwEnCTCT0lJqobqokufVD_9SOza-GLk12YIpQ3e2DIpyVIILnHoUiI0yutb1roP4D1RNsPizbe0FNTcq0UBwviugjJP0&t=634909316920000000);
}

.ob_gGAContWT .ob_gGA
{
    background-position: 0px -4px;
    height: 41px;
}

/* Grouping Area - Default text */
.ob_gGADC
{
    font-family: Verdana;
	font-size: 11px;
	font-weight: normal;		
	color: #FFFFFF;
	text-align: left;
	height: 41px;
	line-height: 41px;
	padding-left: 5px;
}

.ob_gGAContWT .ob_gGADC
{
    line-height: 34px;
    font-size: 10px;
}

/* Grouping Area - Right corner */
.ob_gGACnR
{
	width: 25px;
	height: 46px;
	background-image: url(WebResource.axd?d=yCE3AQr7TNKyMM55WYUlmvBAP0uSVmmnc4UqZnIGQg0fMJxAyBV8RmMc5FaLWvF0iQXxXsMuH1_4nyl_adIEh4OqOYfdQgyZP8dvXofr7RI5iB2MdcLqwLiTdTnQGiIE6F5NTTrRazX105HU0&t=634909316920000000);
	position: absolute;
	right: -5px;
	top: 0px;
}

* html .ob_gGACnR
{
    -background-image: url(WebResource.axd?d=ylrbq86scAQkaAyGW1B8a4IcI7nVu3WpfQl9qcAFDUuDmcUYWNDz3mqowuG49YfL_q3i3TyKlX7zAlAdGeDrx58kvaP_pC_9jjXbhSI4VOGqPSoBB7Lc-v_p7QImFsA4vUIc_5H0Fk1q-HMR0&t=634909316920000000);
}

.ob_gGAContWT .ob_gGACnR
{
    background-image: url(WebResource.axd?d=b7GxMvZ2H73lUgKyNcQgYTUsfzEHSZYEoVxVVT7dbrhwk-YZyvcMdGwi4PlIZPbkQhzqgzb6vD9q4hvXSKSFNDzZbcxFMYsOETCbxc81p0-WEMNooX9snovlneBVxBRxeLZDA7O6CibugUJyHa9KXDaTFbM1&t=634909316920000000);
    background-position: 0px -4px;
    background-repeat: no-repeat;
}

* html .ob_gGAContWT .ob_gGACnR
{
    -background-image: url(WebResource.axd?d=dRskSgHQqJrMUVUjgaE4YvsB4MkEk21NmOb_G4cYR2YfgtAXETsTH3jxlo6W_qdyAnKwd7uUav6CI5oh4-ODk8vWJh_18b0oyTeadIPJma9CjylrUrwSLT4WF1XdO0jjWYxlwGNpUKpVCi96o8WqmG7Y_RQ1&t=634909316920000000);
}

/* Grouping - Dragging column */
.ob_gGDC
{
    position: absolute;
    z-index: 999;
    font-family: Verdana;
	font-size: 11px;
	font-weight: normal;		
	color: #2b2b3d;
	text-align: left;				
	border: 1px solid #829fb7;
	background-image: url(WebResource.axd?d=u6471HEXpswZNLG3bI_r8xkNCn1tvexv5349A4-4OejYaDv5qYdYn3QYFhazJY_0hzpZL-Yk_MZbFV59MUBShvPBaFv-ttirGyMDd013grXGb7rSYGi30c46xgreRuPDwEelq8Gap13ukRaR0&t=634909316920000000);
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
}

/* Grouping - Groupped dragging column */
.ob_gGDC2
{
    position: absolute;
    z-index: 999;
    line-height: 21px;    
}

/* Grouping - Header column highlighted */
.ob_gHCHWG
{
	background-image: url(WebResource.axd?d=u6471HEXpswZNLG3bI_r8xkNCn1tvexv5349A4-4OejYaDv5qYdYn3QYFhazJY_0hzpZL-Yk_MZbFV59MUBShvPBaFv-ttirGyMDd013grXGb7rSYGi30c46xgreRuPDwEelq8Gap13ukRaR0&t=634909316920000000) !important;
}

/* Grouping - Top arrow */
.ob_gGATA
{
	background-image: url(WebResource.axd?d=cc7HoM0ojhg-qdywmeQbW92-u8PulkngI7BrG7JINGZBm_jOV5eUkn58Qb5TaJU786q-1KXn-dL4fPqXNZBWXq66mxAbuskdRbyDsrcChm4KDi5OqdKozWuk8Ehs9kApK0NFDnvSERk7G-Mg0&t=634909316920000000);
	width: 9px;
	height: 9px;
	font-size: 1px;
	padding: 0px;
	z-index: 999 !important;
}

* html .ob_gGATA
{
    -background-image: url(WebResource.axd?d=brNyVVUsL7jasTX0kMAa5bwN-j5TU8YjspOKZhqcEXjF4HofYVKBeBWb3RrAI0734-BA-O3yroOZATTM5OaHaBGfV4guUDbwTXtZCwlEAX_1C9bhRn16P_XhHIqVE0d1LYqPFFy8JGu3ngi40&t=634909316920000000);
}

/* Grouping - Bottom arrow */
.ob_gGABA
{
	background-image: url(WebResource.axd?d=IWEj6VDZO60sbu9Erw4N4XVi6JhsIAEx-v3ZilgS6edX2xcJyheRXp4fcX17dJ3lK4sb7T2UXMAQ2vW7o3qEEvZlzSywXGcOjVOCRJf_jAGrYfTlfwvwooKewz1dCSh9F-sKl9LJ6ceH_ua20&t=634909316920000000);
	width: 9px;
	height: 9px;
	font-size: 1px;
	padding: 0px;
	z-index: 999 !important;
}

* html .ob_gGABA
{
    -background-image: url(WebResource.axd?d=f0COcbXwVu0Mu19ParpP5Ft7ahNwS0AXZdHNcrySbUTk0GgJyTeajq6GHZTP1tmbhyyNbX556LupP5Ju1OSsCdYi8a4rqdnYdTs4MjbOOw2tgadJUoGHE3Y41lB-As8oP6L9cc2CChteLvnp0&t=634909316920000000);
}

/* Column in grouping area - container */
.ob_gGAC
{	
	cursor: move;
	float: left;
    position: relative;
}

.ob_gGAContWT .ob_gGAC
{
    top: -4px;
}

/* Column in grouping area - left side */
.ob_gGACL
{
	width: 12px;
	background-image: url(WebResource.axd?d=aWavwVkel58vh9uXbvgvsWZ2u_ZpQK7l5lp87lB2x5nVd67538nDhi6xBzfgILPi7_MgsNvdDW9O5uJIpSHWLQwKgiKMPdX8y2KnuJxRjwuD6LO_NT0UO8OiYZlT8NY2D01SSL87Q2wsdItDZcX_WmGEem6IE6s0v2JINQ2&t=634909316920000000);
	position: absolute;
	left: 0px;
	top: 0px;
	height: 19px;
	background-repeat: no-repeat;
}

* html .ob_gGACL
{
    -background-image: url(WebResource.axd?d=vQxaKdj8pgrlFIQItX75hBZ667On1K6iZmf8bRyaH0fUjKmeqSLoGk_sLhdNUuLTe3q68ajVj52Z838q1qVqzN-LtXlpdXlNzo3zY3nGVAB0uxUH7LNFUhkzyl2sNwCTovNmRbbn6wPTTF84LEaYnb2H03jc5QnYKzkRvQ2&t=634909316920000000);
}

.ob_gGA .ob_gGACL
{		
	background-image: url(WebResource.axd?d=jq_ee0-MLsjiMArHRtiuPynK54G_iWKbrS92hBmKvEMemIXO4mEuwCg3vbjC5BwgV6e9-U4_za7Zhm6rqcr6rGLXK6rQxpwzHMnsGq-I1TdWvIncykYWIg4q6PcXL10kR6HFO096mvm9z6-xzyFeq_FbO8I1&t=634909316920000000);
	height: 46px;
}

* html .ob_gGA .ob_gGACL
{
    -background-image: url(WebResource.axd?d=WbGVsycCC4nqP0XLHvloej7PxzG6A8qnQB3Y9EecVAtzwFAItJsyaNts0ymAC1q3t0qavd6Rmogq5WCbplqM0fC3eR8PY4hEhLyJp1DFB3RiR7chjsIIynfg27Xr38VBqgfkc6WhhcdGSSWDjAbqFDFXaIk1&t=634909316920000000);
}

.ob_gGAContWT .ob_gGA .ob_gGACL
{
    height: 41px;		
}

/* Column in grouping area - center */
.ob_gGACM
{
	height: 19px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;		
	color: #080808;
	background-image: none;
	overflow: visible;
	white-space: nowrap;
	text-align: center;	
	background-image: url(WebResource.axd?d=Z9PyB2_ub6PfN0MXSDvfYqTaqJNMxdXD2EYlkO1uR4qlruYAJkPYS-TbshnKFocOhYxkNbA3azM-jA_RPlTKkk7JVWR48LrG3vmVlL_BNijo9Jxb8kyjBZ7EPzVEcnjAACoeJfivPtcO-pfNzSCKernZ5gtJlF1HQmjaMw2&t=634909316920000000);
	margin-left: 12px;
	margin-right: 12px;
	line-height: 19px;
	background-repeat: repeat-x;
}

* html .ob_gGACM
{
    -background-image: url(WebResource.axd?d=m5z2AuhOWRNUDHMercxv0m-uDU86jZe-GGtUtg51YvdHQNSf9m9gmdlDG2dXC8l89IripscgFu00LFuTdWHqABbBP1hzwaqEG2rEOPgJPi8LUNgXf_R-qwrm9c2AtARKWJPVsPAkbPcOLN5rO3FHt8QzzrFVfCmWcLQJ0Q2&t=634909316920000000);
}

.ob_gGA .ob_gGACM
{
	height: 46px;
	background-image: url(WebResource.axd?d=yJwVkUUJy70DyM6wIzrVNc2Sx6ecXrgP4jpAf4teibvj84YbcCb34QarhrT8w5rc0lwU_htbQivNrfab1oG_YOzjgN1OGQ2L6VLBgEqInAhgf3wzACbCgB_lb2GkOY9DJvn2l1W1SrM_mdklONw1AlWcOY41&t=634909316920000000);
	padding-top: 1px;
	#zoom:1;
    #display:inline;
    line-height: 41px;
}

.ob_gGAContWT .ob_gGA .ob_gGACM
{
}

* html .ob_gGA .ob_gGACM
{
    -background-image: url(WebResource.axd?d=I4HP3OOmTyTk359oBvNE05gnpZLoy50Y6V-iY9DV-vn8H5dcTTU5nyjp7-0MntOY4JH8INudM1y2OTPpMu0i__9D9DGMuNUQzHSp9pBbb6eMGO_2vhcbjP65tqlf3KS5brsQoRTqC4sZ0BoOgiFl6_28qSM1&t=634909316920000000);
}

/* Column in grouping area - right side */
.ob_gGACR
{
	width: 13px;
	background-image: url(WebResource.axd?d=KEgv3fCxf9tIfmwpH0otyudC-JzdWxdQJh4V0xmrT6t2YVVXHpsmJDj18Mfw1KLB5s7xB5fw1g9FCtCULtfgFqA_zGm50pnnhtnA6YvQrq9kYhoDaSzmcm8SOh-rIAxoUnXU2333reIar9uRKIKl_QOQEIC_ZlsXS3nyBQ2&t=634909316920000000);
	position: absolute;
	right: 0px;
	top: 0px;
	height: 19px;
	background-repeat: no-repeat;
	background-color: Transparent;
}

* html .ob_gGACR
{
    -background-image: url(WebResource.axd?d=fe6HPk_s4oKI_eFtGfSSgxm6e83z3CugZ6Pvh0H9NNQYKU8usuTs2LVS7LIPh7SG3IGIfyLidQOK0qBICSM8EZdBd2UveQ93rokLdsJ6Ttspo_IzIPFhFqSC0nO9qhF_4gBuKF7EqIP1qMxNcAz6-jSxpOhPrEpXxpNqQw2&t=634909316920000000);
}

.ob_gGA .ob_gGACR
{
	width: 12px;
	background-image: url(WebResource.axd?d=axMfyZMiMBRwKg4aoPeqOUJvDM_aXUZN9E40waBzmaIjLyOD-T7eutRDUlJ_8YpEnMbvhLzP6L7Wc_-bYFTndZ4dy4ar6Bk4_M2_ZbQD58G6x_lL7k4Mwm0gsHvvV4ucPd71EwvrpTZ9oWHFMzQb0cIXtSk1&t=634909316920000000);
	height: 46px;
}

* html .ob_gGA .ob_gGACR
{
    -background-image: url(WebResource.axd?d=mvKoO8LmKoas4Ttp-oDM1os0L-awG5xAKTra2YlU5VtGDXnUgMl3CsopxrtQxvN5zm3Z9Z_zdIUBXasNihhhKsTFiio1cH0mKChKywiDAEKh6GLeSp2HkRLB-lCRNtLLrpIaYrM4iNP25QXSBWQFO5pU4IY1&t=634909316920000000);
}

.ob_gGAContWT .ob_gGA .ob_gGACR
{
    height: 41px;		
}

/* Column in grouping area - spacer/link between columns*/	
.ob_gGACS
{
	height: 34px;
	width: 20px;
	background-image: url(WebResource.axd?d=kS_0cyQKTQfoYrifgiPFsHViO3hXVEpEKsfU_Oj3AButTKZh8JkrCJ_8Zpv9DpYmbp2-S0of-8KOCajdwtJmWB4eAoXD2lhXQmVdh2L4SHeA-JeUftDumM0FVNgca-X-Hp7XZyCwiELzNOEgC9RZ93TFvIc1&t=634909316920000000);
	float: left;
	margin-right: 5px;
	position: relative;
}

.ob_gGAContWT .ob_gGACS
{
    background-position: 0px -4px;
}





/* Horizontal Scroller */
/* ------------------- */

.ob_gSH
{
    position: relative;
    overflow: hidden;
    height: 20px;
    height /*\**/: 16px\9;
    #height: 16px;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gSH
{
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gSH div
{
    width: 100%;
    height: 40px;
    height /*\**/: 36px\9;
    #height: 36px;
	overflow: auto;
	overflow-y: hidden;
	position: absolute;
	top: -20px;
}

.ob_gSH div div
{
    /*height: 20px;*/
    visibility: hidden;
}





/* Filter */
/* ------ */

.ob_gFlCont
{
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gFlCont
{
    width: 100%;
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gFlICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gFlICont, .ob_gMCont_DT .ob_gFlICont
{
    width: 100%;
}

.ob_gFl
{
    border-collapse: collapse;
    table-layout: fixed;
}

.ob_gFl .ob_gC, .ob_gFl .ob_gCW
{
    background-image: url(WebResource.axd?d=oasfsKEwkZiXMM6KHUrT_ce01c86Lh92_lf0q3C8AIgGe9q42I_w_SJORACUEERFh5pMKHXlV_Wmglww8RxKU9v-7qih5jD75e7qNzqxp8FEPvBSiptbiE-R51S1gpqlz0acFA2&t=634909316920000000);
    height: 50px;
    font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-align: left;
}

.ob_gFl .ob_gC div.ob_gCc1, .ob_gFl .ob_gCW div.ob_gCc1
{    
    overflow: visible;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
}


/* Cells separator */
.ob_gFlCont .ob_gCS, .ob_gFlCont .ob_gCS_F
{
    position: absolute;
    top: 0px;    
    width: 1px;
    background-color: #EEEEEE;
    font-size: 1px;
}

.ob_gFlCont .ob_gCS
{
    bottom: 0px;
}





/* Columns Footer */
/* ------ */

.ob_gCFCont
{
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gCFCont
{
    width: 100%;
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gCFICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gCFICont, .ob_gMCont_DT .ob_gCFICont
{
    width: 100%;
}

.ob_gCFR
{
    border-collapse: collapse;
    table-layout: fixed;
}

.ob_gCFR .ob_gC, .ob_gCFR .ob_gCW
{
    background-image: url(WebResource.axd?d=sDS_bqp__JCujVlAPcfiHSzU1bq2BczpLm1xHAoDUEJ0n-YDEoKpVVdJ-cRcIwNIlWDsI8DitIWmaJ73bhuO8JhEh-6vjHR1EI7kdDzw7eue93A-3_I18U0qR8HtTjhSpKThbA2&t=634909316920000000);
    height: 25px;
    font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #701f03;
	text-align: left;
}

.ob_gCFR .ob_gC div.ob_gCc1, .ob_gCFR .ob_gCW div.ob_gCc1
{    
    overflow: visible;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Cells separator */
.ob_gCFCont .ob_gCS, .ob_gCFCont .ob_gCS_F
{
    position: absolute;
    top: 0px;
    width: 1px;
    background-color: #EEEEEE;
    font-size: 1px;
}

.ob_gCFCont .ob_gCS
{
    bottom: 0px;
}





/* Master/Detail */
/* ------------------- */

/* Row containing a detail grid */
.ob_gDGC
{
}

/* The container of a detail grid */
.ob_gDGCCT
{
    background-color: #F6F7F7;
    padding-left: 20px;
    z-index: 15;
    position: relative;
    width: 100%;
}

.ob_gDGCCIT
{
    width: 100%;
    position: relative;
}

/* Cell containing the +/- buttons for expanding/collapsing the detail grids */
.ob_gDGE
{
}
.ob_gDGE div.ob_gCc1
{
    position: relative !important;
}

/* Container for the +/- buttons for expanding/collapsing the detail grids */ 
.ob_gDGEB
{
    position: absolute;
    height: 24px;
    width: 19px;
    top: 50%;
    overflow: visible;
}

.ob_gDGEB img
{
    margin-top: -12px;
    position: absolute;
    cursor: pointer;
}

/* Loading message displayed while a detail grid is loading (OnCallback)*/
td.ob_gBLM
{
    background-color: #F6F7F7;
    text-align: center;
    font-family: Verdana;
	font-size: 10px;
	color:#0C416F;
	height: 20px;
}
td.ob_gBLM div
{
    position: relative;
    z-index: 15;
    height: 20px;
    line-height: 20px;
    background-color: #F6F7F7;
}





/* Corners displayed at the top of the grid */
/* ------ */

/* Container for the top corners */
.ob_gHCnC
{
	height: 17px;
	position: relative;
	background-image: url(WebResource.axd?d=tDIKgo8GOYwXdvv9tanSwMh0ON2N2vwk_z6tunQ2dkYHAtDHfyQdlqmHfJZrU1DP_kSh9mo8xCZ4hbU7L7fjuxsiFO77KMZdPKCM8P1PuR6hOQY4eD34L5TmEXk-QumyPX3HJ9i-ZRNqE6TTqZqHwnyb1k81&t=634909316920000000);
	background-repeat: repeat-x;
	font-size: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

* html .ob_gHCnC
{
    -background-image: url(WebResource.axd?d=i9zzQYc9uk5ta_HWI-NpUJogpUyP8muUbS5UaqiGOdyldTO7DK16d3-yOwIVeX9GE1DQydUqw0qEcHMRZpWVXjsAf91p7GggujAUhXIC-RYAVm6F9sTDBBAutH8x3zX4Ll8qw_iQ2na2FnHU0o5sZN8Wx0o1&t=634909316920000000);
}

/* Left corner */
.ob_gHCnL
{
	background-image: url(WebResource.axd?d=7BBPvnmvQwEbz5W6CJ0HuS6rv6WAvsri9ZoqrpIXfOZM0HW76M5n2r4hyeYAQnySH-ug12fTXswOzpvvxA2cDRLmZEes7mpRAY8xP1TJGj93HhtAvQHFKM3FNmE9qwrP-IqxZ8RBFJHXzmkN0&t=634909316920000000);
	height: 17px;
	width: 25px;
	background-repeat: no-repeat;
	position: absolute;
	left: -25px;
}

* html .ob_gHCnL
{
    -background-image: url(WebResource.axd?d=i-UG2A3JPYo4wBXpv5pAcNahKGIHm7QPOcLcG7ZDjPLVEycAbyadGhMw-2FHEilZj8aCKJKHSVal4Ls_m5cOqIldg4eY96pLspBjAYBUtteSJd5UQvdReSxFzuCzvZT_6u72zimglZhHSPji0&t=634909316920000000);
}

/* Right corner */
.ob_gHCnR
{
	background-image: url(WebResource.axd?d=emDR5_eiB_tDg929VzNXEKDki0CA26cqd_Sgz7TDYa5JylouHFGz1gZBmJynOk_T15X5dhPOm9L6YtbFyQMQJNPz8mJPvsCkEwORJSwc-Huz4vHPuA81Bvwr9vsSLBL6DHaa9rTEqxO-4O440&t=634909316920000000);
	height: 17px;
	width: 25px;
	background-repeat: no-repeat;
	position: absolute;
	right: -25px;
}

* html .ob_gHCnR
{
    -background-image: url(WebResource.axd?d=GOOnso2cksazgfgksuvrQJqT5s2XpUjzqkBUtZ_Gwo6o5bhYncaS8dajH3l91GPTjlX6N67_BsAr-4rpXIe-dxb41Jk4pEEgecOx6J8UefRrTdCykf4rbWwjFwPYmIK-VgXzySrjMMquLJhx0&t=634909316920000000);
}





/* Corners displayed at the bottom of the grid */
/* ------ */

/* Container for the bottom corners */
.ob_gFCnC
{
	height: 16px;
	position: relative;
	background-image: url(WebResource.axd?d=2VeWgYXUTmGOfQIRA7Bap5ckt26PqzQatCFBoQFi3_8dVveNTryufcqGUnk8e9bIAG-mzUF4opz1EFrDwGscagUEzYUxQvTMdkR6jfk3Ak_k1CjhxbGPY1xOjNitLtBbnRaCjkJzkom1O7IX4H2uqf0Iuw41&t=634909316920000000);
	background-repeat: repeat-x;
	font-size: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

* html .ob_gFCnC
{
    -background-image: url(WebResource.axd?d=eaImmZu2DNdxy7h01qnwZ1FCDSHmrrww_NtoGxkgVcnNSvugVxUQ7rwmhlgs0LEofc0vFJMDvybtljRFAEUdGT_urv9tPw6sYgMSD9YwkcLbyvP7jVHoqCXAumHyWK0SZWCUFo_OeIlbFHiMmhtHLap_qV81&t=634909316920000000);
}

/* Left corner */
.ob_gFCnL
{
	background-image: url(WebResource.axd?d=gdEBTgilFNPKmdMpN0OpUMBM9Ai4xdC1Z-wd3UJByadXIln7roQyljljuO99XYVD9zShqa7tOwxJ0HzJV0Ik9W1q-VOX-u8mPbitfngaMAjHHFZB-D0xLnOn42fdJ9kHowe1j_CT4Kc-KqdS0&t=634909316920000000);
	height: 16px;
	width: 25px;
	background-repeat: no-repeat;
	position: absolute;
	left: -25px;
}

* html .ob_gFCnL
{
    -background-image: url(WebResource.axd?d=JpAJ-r5KSlZQfXkIC5biFk-G-HxCe6l_IfRE5Ipi8rHTE8EcKyFkhhUH-Wza7qS32iL9Y_w-3bFWfM9Pptag-WBKnFXgf50m_YdFwCAXVXQnjgsNY4WBZkQt3-BXHgUUj2bh19EjmKEhFQUP0&t=634909316920000000);
}

/* Right corner */
.ob_gFCnR
{
	background-image: url(WebResource.axd?d=THMMF7Fvkc5ynYLx3XPjdOYw0rUw-I5T3fndhnvY1KZuJ3S6frJApb1c1NZF_mfQNN5mEAeXZNDIQ3uFpuKFZ_C3M6mX76QxoDeBgdEfCqHWpl4uxjoMmQNeraSbVkVhA7pGhcuaooHvrv7x0&t=634909316920000000);
	height: 16px;
	width: 25px;
	background-repeat: no-repeat;
	position: absolute;
	right: -25px;
}

* html .ob_gFCnR
{
    -background-image: url(WebResource.axd?d=M8JhMF8k1HJW-2EL_8Gn0soRB_iGItCirebBNbN4BCsAPqyDngbkP4IM426WSvfUVHxFpBti7Ar-lRrTQmUf4qfg7IruOj2h6A4RsMnvecnbNlv_1V2bw3wtfBZ3coVEHhO4Jum5YT_IIPks0&t=634909316920000000);
}




.ob_gFContT /*.ob_gridFooterContainerTop*/
{		
	background-image: url(WebResource.axd?d=PIS6o42hPbdawL1FIeufqckXdLTQiNdppswyloS8CfSMy7FSNLKhmjZqD-6-gy88Ob2r470OYWHroQ9x4DBGlTiu73jXym5jC2yCLKsX_p8VQetxQDnTLB4_CgAOCMnyd7gL0rtR7tNq9Ryy0&t=634909316920000000);
	padding: 0px;
	margin-top: 0px;	
	border: 0px;
	height: 46px;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	position: relative;
	cursor: default;
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	white-space: nowrap;
	z-index: 0;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
}

* html .ob_gFContT
{
    -background-image: url(WebResource.axd?d=WKSAoAoq4DKCpyT1hNXkzmFETIGzfW8QFPGawTr3MrEUnKC-tSZ81LwEnCTCT0lJqobqokufVD_9SOza-GLk12YIpQ3e2DIpyVIILnHoUiI0yutb1roP4D1RNsPizbe0FNTcq0UBwviugjJP0&t=634909316920000000);
}

.ob_gFContTWT
{
    height: 41px;
    background-position: 0px -4px;    
}

.ob_gFContTL
{
    width: 25px;
	height: 46px;
	background-image: url(WebResource.axd?d=i9vWZ0eELvIZT8LSRDVIDxoVAO2A8wAObwTxWR6_x6LKuBw3aX5eMkLzcZ42w2sTjBjbkHDWYiRWsRY2AykM0XBLm_dC17gFCrpfs3Y8n7YTDJXaLyhOFweEociX9MJKM9nein1_aIa2TNI80&t=634909316920000000);
	position: absolute;
	left: -25px;
	top: 0px;
}

* html .ob_gFContTL
{
    -background-image: url(WebResource.axd?d=xpYuyesaZUZiCeJSzHhZv2-2e0ydaewwI_WWgqY18Gk_5k7wZZkwXMMPi-OdGlvt_0f4XCFra-hKz18QGWrSWE8NdpoVVY8Ls9st2uOyUN2timlj8E3SzLA0_XTj0JqTr1LMoYn486OAc6ns0&t=634909316920000000);
}

.ob_gFContTWT .ob_gFContTL
{
    background-image: url(WebResource.axd?d=sBVWPzBkZyyC5lBRX6RPP-cgb7OkwEIT333AglN6z15FNqjx0Ve3ziVe0g53C-d2_JVjWARuZvFZP-EecgVFqRPwfml7BmHSuDf3Q144SyYKfrm9HqrfO47OyCEPGFNvUWbN86WJQ151FKKFP5DFEym3EOI1&t=634909316920000000);
    background-position: 0px -4px;
    background-repeat: no-repeat;
}

* html .ob_gFContTWT .ob_gFContTL
{
    -background-image: url(WebResource.axd?d=qFNXBAs-KwS_q_lOwJwUe8o2_HLPH2MOsjgituj5UUAF4369M7y-TKjAzkyF89vDSSmAuvfaS15nZBuz5rOKtRPeZvqoWZvY7tQi-XBaJbUwElgxazbW3HTmHNMhAN6Cupv2jKIrWhpll6v7_TbNraNJ2pc1&t=634909316920000000);
}

.ob_gFContTR
{
    width: 25px;
	height: 46px;
	background-image: url(WebResource.axd?d=yCE3AQr7TNKyMM55WYUlmvBAP0uSVmmnc4UqZnIGQg0fMJxAyBV8RmMc5FaLWvF0iQXxXsMuH1_4nyl_adIEh4OqOYfdQgyZP8dvXofr7RI5iB2MdcLqwLiTdTnQGiIE6F5NTTrRazX105HU0&t=634909316920000000);
	position: absolute;
	right: -25px;
	top: 0px;
}

* html .ob_gFContTR
{
    -background-image: url(WebResource.axd?d=ylrbq86scAQkaAyGW1B8a4IcI7nVu3WpfQl9qcAFDUuDmcUYWNDz3mqowuG49YfL_q3i3TyKlX7zAlAdGeDrx58kvaP_pC_9jjXbhSI4VOGqPSoBB7Lc-v_p7QImFsA4vUIc_5H0Fk1q-HMR0&t=634909316920000000);
}

.ob_gFContTWT .ob_gFContTR
{
    background-image: url(WebResource.axd?d=b7GxMvZ2H73lUgKyNcQgYTUsfzEHSZYEoVxVVT7dbrhwk-YZyvcMdGwi4PlIZPbkQhzqgzb6vD9q4hvXSKSFNDzZbcxFMYsOETCbxc81p0-WEMNooX9snovlneBVxBRxeLZDA7O6CibugUJyHa9KXDaTFbM1&t=634909316920000000);
    background-position: 0px -4px;
    background-repeat: no-repeat;
}

* html .ob_gFContTWT .ob_gFContTR
{
    -background-image: url(WebResource.axd?d=dRskSgHQqJrMUVUjgaE4YvsB4MkEk21NmOb_G4cYR2YfgtAXETsTH3jxlo6W_qdyAnKwd7uUav6CI5oh4-ODk8vWJh_18b0oyTeadIPJma9CjylrUrwSLT4WF1XdO0jjWYxlwGNpUKpVCi96o8WqmG7Y_RQ1&t=634909316920000000);
}

.ob_gFContTWG, .ob_gFContTWG .ob_gFContTL, .ob_gFContTWG .ob_gFContTR
{
    height: 39px;
}

.ob_gFContTWT_WG, .ob_gFContTWT_WG .ob_gFContTL, .ob_gFContTWT_WG .ob_gFContTR
{
    height: 35px;
}


.ob_gFContT .ob_gPSTT
{
    top: 14px;
}

.ob_gFContTWT .ob_gPSTT
{
    top: 10px;
}

.ob_gFContT .ob_gPSTT, .ob_gFContTWT .ob_gPSTT
{
    zoom:1;
    *display:inline;
}

.ob_gFContT .ob_gFEC
{
    top: 11px;
    right: -15px;
}

.ob_gFContTWT .ob_gFEC
{
    top: 7px;
}

.ob_gFContT a.ob_gALF
{
    color: #FFFFFF;
}

.ob_gFContT .ob_gFP
{
    height: 21px;
    #height: auto;
    overflow: hidden;
    #overflow: visible;
}



/* Heading */
.ob_gHeadingCont
{		
	background-image: url(WebResource.axd?d=PIS6o42hPbdawL1FIeufqckXdLTQiNdppswyloS8CfSMy7FSNLKhmjZqD-6-gy88Ob2r470OYWHroQ9x4DBGlTiu73jXym5jC2yCLKsX_p8VQetxQDnTLB4_CgAOCMnyd7gL0rtR7tNq9Ryy0&t=634909316920000000);
	padding: 0px;
	margin-top: 0px;	
	border: 0px;
	height: 46px;
	padding-left: 5px;
	padding-top: 0px;
	line-height: 43px;
	padding-bottom: 0px;
	vertical-align: middle;
	position: relative;
	cursor: default;
	font-size: 11px;
    font-family: Verdana;
    color: #FFFFFF;
	white-space: nowrap;
	z-index: 0;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
}

* html .ob_gHeadingCont
{
    -background-image: url(WebResource.axd?d=WKSAoAoq4DKCpyT1hNXkzmFETIGzfW8QFPGawTr3MrEUnKC-tSZ81LwEnCTCT0lJqobqokufVD_9SOza-GLk12YIpQ3e2DIpyVIILnHoUiI0yutb1roP4D1RNsPizbe0FNTcq0UBwviugjJP0&t=634909316920000000);
}

.ob_gHCLS
{
    width: 25px;
	height: 46px;
	background-image: url(WebResource.axd?d=i9vWZ0eELvIZT8LSRDVIDxoVAO2A8wAObwTxWR6_x6LKuBw3aX5eMkLzcZ42w2sTjBjbkHDWYiRWsRY2AykM0XBLm_dC17gFCrpfs3Y8n7YTDJXaLyhOFweEociX9MJKM9nein1_aIa2TNI80&t=634909316920000000);
	position: absolute;
	left: -25px;
	top: 0px;
}

* html .ob_gHCLS
{
    -background-image: url(WebResource.axd?d=xpYuyesaZUZiCeJSzHhZv2-2e0ydaewwI_WWgqY18Gk_5k7wZZkwXMMPi-OdGlvt_0f4XCFra-hKz18QGWrSWE8NdpoVVY8Ls9st2uOyUN2timlj8E3SzLA0_XTj0JqTr1LMoYn486OAc6ns0&t=634909316920000000);
}

.ob_gHCRS
{
    width: 25px;
	height: 46px;
	background-image: url(WebResource.axd?d=yCE3AQr7TNKyMM55WYUlmvBAP0uSVmmnc4UqZnIGQg0fMJxAyBV8RmMc5FaLWvF0iQXxXsMuH1_4nyl_adIEh4OqOYfdQgyZP8dvXofr7RI5iB2MdcLqwLiTdTnQGiIE6F5NTTrRazX105HU0&t=634909316920000000);
	position: absolute;
	right: -25px;
	top: 0px;
}

* html .ob_gHCRS
{
    -background-image: url(WebResource.axd?d=ylrbq86scAQkaAyGW1B8a4IcI7nVu3WpfQl9qcAFDUuDmcUYWNDz3mqowuG49YfL_q3i3TyKlX7zAlAdGeDrx58kvaP_pC_9jjXbhSI4VOGqPSoBB7Lc-v_p7QImFsA4vUIc_5H0Fk1q-HMR0&t=634909316920000000);
}

.ob_gHeadingContWG, .ob_gHeadingContWG .ob_gHCLS, .ob_gHeadingContWG .ob_gHCRS
{
    height: 39px;
    line-height: 43px;
}

* html .ob_gHeadingContWG, * html .ob_gHeadingContWG .ob_gHCLS, * html .ob_gHeadingContWG .ob_gHCRS
{
    -overflow-y: hidden;
}


/* Virtual Scrolling */
.ob_gVSPIC
{
    position: absolute;
    width: 100px;
    height: 20px;
    line-height: 18px;
    border: 1px solid #DDD;
    z-index: 999;
    font-family: Verdana;
	font-size: 10px;
	color: #080808;
	text-align: center;
    background-image: url(WebResource.axd?d=lyVQJ5-IeUgfNndq_YH0tbQVdI_uB3sOYWaF6c0p7yb5TseS1qAPSSOgvul_J_GfFMNLf-miCiLaRgqX9AcbXHZVCHLCdjPxEQbP5vMEgLENlhM--VLKzyReP-Dy8GzPdCQa-g2&t=634909316920000000);
}